
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Akshay Reddy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">  
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
         <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <style>
        body{
        background-image:url("background-website.jpg");
         }
        </style>
    </head>
    <body>
        
        
         
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
   

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <nav class="navbar navbar-inverse">
    
        
<ul class="nav nav-tabs">
          
 <li role="presentation" ><a href="http://127.0.0.1:8081/index.html" <span class="glyphicon glyphicon-home"></span><b> AkshayReddy</b></a></li>
  <li role="presentation"><a href="http://127.0.0.1:8081/aboutme.html" <span class="glyphicon glyphicon-user"></span><b> About</b></a></li>
  <li role="presentation"><a href="http://127.0.0.1:8081/profile.html" <span class="glyphicon glyphicon-usd"></span><b> Calculator</b></a></li>
  <li role="presentation"><a href="http://127.0.0.1:8081/contact.html"<span class="glyphicon glyphicon-phone"></span><b> Contact</b></a></li>
   <li role="presentation" class="active"><a href="http://127.0.0.1:8081/views/index.ejs"<span class="glyphicon glyphicon-book"></span><b> Guestbook</b></a></li>
</ul>


</nav>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>









